body {
  background: #174977;
}
h1 {
  text-align: center;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.main-section {
  background: transparent;
  max-width: 500px;
  width: 90%;
  margin: 30px auto;
}

.clock-holder {
  width: 100%;
  background: #fff;
  margin: 30px auto;
  position: relative;
}

.word-count {
  padding: 60px 0px;
  text-align: center;
}
.word-count span {
  background: #00aba9;
  color: #fff;
  display: inline-block;
  font-family: monospace;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.word-count .word-count-btn {
  background: #fff;
  margin-top: 30px;
  margin-left: 5px;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  text-transform: uppercase;
  width: 150px;
  transition: background 1s;
  cursor: pointer;
}
.word-count .word-count-btn-red {
  border: 2px solid #c85454;
  color: #c85454;
}
.word-count .word-count-btn-yel {
  border: 2px solid #ffc900;
  color: #ffc900;
}

.word-count .word-count-btn-gre {
  border: 2px solid #00aba9;
  color: #00aba9;
}
.word-count .word-count-btn-red:hover {
  background: #c85454;
  border: 2px solid #c85454;
  color: #fff;
}
.word-count .word-count-btn-yel:hover {
  background: #ffc900;
  border: 2px solid #ffc900;
  color: #fff;
}
.word-count .word-count-btn-gre:hover {
  background: #00aba9;
  border: 2px solid #00aba9;
  color: #fff;
}
